body {
    font-family: 'Roboto Mono', monospace;
    background-color: beige;
}

h1 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

a.generate {
    margin-top: 3em;
}

a.new-stats-page {
    margin-top: 3em;
    margin-bottom: 3em;
}

div.stat-values, div.stat-actions, #chart {
    margin-top: 3em;
}

div.no-stat-values {
    text-align: center;
}

div.no-stat-values p {
    margin-top: 1em;
}

th.date-column {
    width: 30%;
}

th.delete-column {
    width: 10%;
}
