<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Trackr - account</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">
        <link rel="stylesheet" href="/app.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Trackr - Account</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <p>Hello <span th:text="${#request.getRemoteUser()}"></span></p>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" class="btn btn-danger">
            </form>
        </div>
    </body>

</html>