<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Trackr - stats</title>

        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/app.css">

        <script src="/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Trackr - your (very simple) stats page</h1>

            <div>
                <p>Call the following URL to push stats data: <a th:href="${stat.getURL()}" th:text="${stat.getURL()}">url</a></p>
            </div>

            <canvas id="chart"></canvas>

            <div th:if="${statValues != null && statValues.size() > 0}" class="stat-values">
                <ul class="list-group">
                    <li th:each="statValue: ${statValues}" class="list-group-item">
                        <span th:text="${statValue.getValue()}">value</span> /
                        <span th:text="${statValue.getCreateDate()}">createDate</span>
                    </li>
                </ul>
            </div>

            <div class="stat-actions">
                <input type="text" id="valueToAdd">
                <input type="hidden" id="token" th:attr="value=${stat.getToken()}">
                <button type="button" class="btn btn-primary" id="addValue">add value!</button>
            </div>
        </div>
    </body>

</html>